= provide(:title, "Wallpaper | Eyedealist")

#pin_show.row
	.col-md-8.col-md-offset-2
		.panel.panel-default
			.panel-heading.pin_image
				= image_tag @wallpaper.image
			.panel-body
				%h1= @wallpaper.name

			.panel-footer
				.row
					.col-md-6
						.btn-group.pull-right
							= link_to "Edit", edit_wallpaper_path, class: "btn btn-default"
							= link_to "Delete", wallpaper_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"
