= provide(:title, "Eyedealist | About Me")

%header.codrops-header
	= image_tag "about.png", :size => "300x187"

.main.clearfix
	.container
		.col-md-4.section-title.text-center.left
			.col-md-4.text-center.img-responsive.left
			= image_tag "the_eyedealist.jpg"
		 
		.col-md-8.text-center.right
			.about-text
				%br
				%br
				%p
					Matthew McCarthy is a Jamaica-based illustrator and mural painter who has spent the last five years finding a way to combine his obsession with Jamaican street signs, old school dancehall illustrations and global street art movements. His style and overall message have been influenced by local and global happenings, which fuel his enormous need to formulate satire around interesting topics.
	
	.related.social-list
		= link_to "https://www.facebook.com/eye.dealer", target: '_blank' do
			%span.menu-icon.fa.fa-fw.fa-facebook
		= link_to "https://twitter.com/eyedealer", target: '_blank' do
			%span.menu-icon.fa.fa-fw.fa-twitter
		= link_to "https://www.instagram.com/eye.dealist", target: '_blank' do
			%span.menu-icon.fa.fa-fw.fa-instagram