= provide(:title, "Eyedealist | Home")

.col-xs-2.col-xs-offset-5
	gianni
	
	= link_to (image_tag "about.png", :height => '75', :class => "center-block"), about_path

	= link_to (image_tag "murals.png", :height => '75', :class => "center-block"), pins_murals_path


	= link_to (image_tag "illustrations.png", :height => '75', :class => "center-block"), pins_illustrations_path


	= link_to (image_tag "publications.png", :height => '75', :class => "center-block"), pins_publications_path


	= link_to (image_tag "exhibitions.png", :height => '75', :class => "center-block"), galleries_path


	= link_to (image_tag "videos.png", :height => '75', :class => "center-block"), videos_path


	= link_to (image_tag "press.png", :height => '75', :class => "center-block"), links_press_path


	= link_to (image_tag "paint_shop.png", :height => '75', :class => "center-block"), "https://twitter.com/eyedealer", target: '_blank'
	

	= link_to (image_tag "threads.png", :height => '75', :class => "center-block"), "https://twitter.com/eyedealer", target: '_blank'

