= provide(:title, "Press | Eyedealist")

#link_show.row
	.col-md-8.col-md-offset-2
		.panel.panel-default
			.panel-body
				%h1= @link.title
				%p.description= @link.date
				= @link.url

			- if user_signed_in?
				.panel-footer
					.row


						.col-md-6
							.btn-group.pull-right
								= link_to "Edit", edit_link_path, class: "btn btn-default"
								= link_to "Delete", link_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"
