= simple_form_for @gallery, html: { multipart: true } do |f|
	- if @gallery.errors.any?
		#errors
			%h2
				= pluralize(@gallery.errors.count, "error")
				prevented this Gallery from saving
			%ul
				- @gallery.errors.full_messages.each do |msg|
					%li= msg

	.form-group
		= f.input :name, input_html: { class: 'form-control' }

	.form-group
		= f.input :description, input_html: { class: 'form-control' }

	.form-group
		= f.label "Select multiple images:-", :class => 'control-label'

		.control
			= file_field_tag "images[]", type: :file, multiple: true

	.form-group.btn-group
		= f.submit :submit, class: "btn btn-primary"
		= link_to "Back", :back, class: "btn btn-default"