= provide(:title, "Exhibition | Eyedealist")

%header.codrops-header

	%h1= @gallery.name

	- if user_signed_in?

		= link_to 'Back', galleries_path, :class => 'btn btn-mini'

		= link_to 'Edit', edit_gallery_path(@gallery), :class => 'btn btn-mini'

		= link_to 'Delete gallery', gallery_path(@gallery), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-mini'

	.about-text.text-center
		%br

		= @gallery.description

		%br
		%hr
		%br

- unless @pictures.empty?

	#pins.transitions-enabled

		- @pictures.each do |pic|

			.box.panel.panel-default

				= link_to (image_tag pic.image), pic.image.url, "data-lightbox" => "#{@gallery.id}", "data-title" => "#{@gallery.name}"

				- if user_signed_in?

					= link_to "Delete Picture", pic, :data => { :confirm => "Are you sure?" }, :method => :delete
