!!! 5
%html
%head
	%title Eyedealist | Home
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
	

%body
	#perspective.perspective.effect-airbnb
		.container
			.wrapper
				
				- flash.each do |name, msg|
					= content_tag :div, msg, class: "alert alert-info"
				= yield


		%nav.outer-nav.left.vertical
			%ul.nav.navbar-nav.navbar-right
				%li= link_to "About", about_path
				%li= link_to "Photos", pins_path
				%li= link_to "Videos", videos_path
				%li= link_to "Press", links_path
				%li= link_to "New Press", new_link_path
				%li= link_to "New Image", new_pin_path
				%li= link_to "New Video", new_video_path
				%li= link_to "Account", edit_user_registration_path
				%li= link_to "Sign In", new_user_session_path
				
				- if user_signed_in?
					%ul.nav.navbar-nav.navbar-right
						%li= link_to "Sign Out", destroy_user_session_path, method: :delete

%script(src="/assets/modernizr.custom.25376.js")
%script(src="/assets/menu.js")
%script(src="/assets/classie.js")